<div
  style="background-image:url(&quot;/assets/img/123456.png&quot;);background-repeat:no-repeat;background-size:contain;background-position:top; padding-top: 60px; padding-bottom: 60px">
  <div class="container" style="padding-top:50px; padding-bottom: 50px">
    <h1 class="text-center"
      style="font-weight:bolder;margin-top:0px;font-size:34px;color:#141d70;font-family:'Averia Serif Libre', cursive;padding-bottom:0px;margin-bottom:46px;">
      {{ brand_title|default:"Nepal Food Scientists and Technologists Association (NEFOSTA)" }}</h1>
  </div>
</div>