{% extends 'utils/base.html' %}

{% block body %}
{% include "utils/brand_title.html"%}
{% include "utils/image_carousel.html" %}
<div class="article-dual-column" style="margin-top:-1px;background-color:rgba(238,244,247,0.4);padding-bottom:16px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-3 offset-md-1" style="border-right-style:solid;margin-top:51px;">
        <div class="toc" style="margin-left:-58px;padding-right:29px;">
          <p style="font-size:16px;font-family:'Averia Serif Libre', cursive;color:#141d70;margin-left:20px;">NEWS
            &amp; EVENTS</p>
          <ul class="list-group">
            {% for event in events %}
            {% include 'utils/event_box.html' %}
            {% empty %}
            No events
            {% endfor %}
          </ul>
        </div><a href="{% url 'nefosta:event_list' %}"
          style="font-family:'Averia Serif Libre', cursive;color:#126ea2;margin-left:-13px;">View All..</a>
      </div>
      {% load cache%}
      {% cache None about %}
      <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="margin-top:20px;padding-left:92px;">
        <div class="text">
          <h2 style="font-family:'Averia Serif Libre', cursive;color:#141d70;">About NEFOSTA</h2>
          <p style="font-family:'Source Sans Pro', sans-serif;font-size:17px;color:rgb(0,0,0);">Nepal Food Scientists
            and Technologists Association (NEFOSTA) is solely autonomous, professional and non profit making
            organization of all Nepalese Food Scientists and Technologists formerly founded in 1984 in Dharan and
            later
            legally registered in 1986 (Regd. No. 224/047-48, CDO office, Kathmandu) with the central office in
            Kathmandu. Under this association there are more than 500 members and two Regional Chapters at Dharan and
            Hetauda. Likewise,
            NEFOSTA is under way to establish chapters in foreign countries. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;&nbsp;<br></p>
          <h2 style="font-family:'Averia Serif Libre', cursive;color:#141d70;">Our Mission</h2>
          <p style="font-family:'Source Sans Pro', sans-serif;font-size:17px;color:rgb(0,0,0);">Mission : By applying
            the knowledge and skills of Food Science and Technology in the production and supply chain of foods for
            providing safe, wholesome and nutritious food to the people of Nepal and foster economic prosperity of
            the country through developing and promoting agro-food processing sector.&nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;<br></p>
          <h2 style="font-family:'Averia Serif Libre', cursive;color:#141d70;">Our Vision</h2>
          <p style="font-family:'Source Sans Pro', sans-serif;font-size:17px;color:rgb(0,0,0);">Vision : Contribute
            towards the development and promotion of Food Science and Technology to ensure safe and nutritious food
            for all within the country.&nbsp; &nbsp; &nbsp;&nbsp;<br></p>
        </div>
      </div>
      {% endcache %}
    </div>
  </div>
</div>
<div class="features-clean">
  <div class="container" style="margin-top:19px;">
    <div class="intro">
      <h2 class="text-center" style="font-family:'Averia Serif Libre', cursive;color:#141d70;">Major Activities</h2>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-book icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Publications</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Publication of
          Journal of Food Science and Technology Nepal (JFSTN), Food Nepal and Newsletters.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-group icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Collaboration</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Collaborative works
          on food safety, nutritional security etc. with different stakeholders viz. DFTQC, NAST, etc.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-pencil-square-o icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Tranings &amp; Seminairs</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Organize training on
          QMS, FSMS, Food Analysis, Laboratory Accreditation, etc. and &nbsp;Food Conference, Seminars &amp; Workshops
          on regional and national level.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-calendar icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Technical Counseling</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Provide Technical
          counseling on Food Science and Technology so as to solve the technical problems in Food Industries and other
          Institutions and&nbsp;<br>arrange Talk Program for Food Scientists and Experts.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-star icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Awards</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Awards and
          felicitation to talented students and persons who have special contribution in the fields of food science
          and technology.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-hand-peace-o icon" style="color:#a6c4e6;"></i>
        <h3 class="name" style="font-family:'Averia Serif Libre', cursive;">Welfare</h3>
        <p class="description" style="font-family:'Source Sans Pro', sans-serif;font-size:17px;">Ensures availability
          and support for the welfare of its members.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}