  {% extends 'utils/base.html' %}

  {% block body %}
  <div class="container py-3">
    <div class="row">
      <div class="col-md-8 col-sm-12" style="border-right-style:solid;">
        <div class="text py-5">
          <h2 style="font-family:'Averia Serif Libre', cursive;color:#126ea2;font-size:33px;">Downloads</h2>
          <ul class="list-group">
            {% for download_category in object_list%}
            {% include "utils/download_category_box.html" %}
            {% empty %}
            Nothing here.
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <div class="col-md-4 col-sm-12 p-3">
          <p style="font-size:16px;font-family:'Averia Serif Libre', cursive;color:#126ea2;">
            Related Links</p>
          <ul class="list-group">
            {% for link in link_categories%}
            <li class="list-group-item" style="height:40px;background-color:rgba(238,244,247,0.4);"><a
                href="{% url 'nefosta:link_category_detail' link.id%}"
                style="font-family:'Source Sans Pro', sans-serif;font-size:17px;color:rgb(0,0,0);margin-left:10px;">{{ link.title }}</a>
            </li>
            {% empty %}
            Nothing Here
            {% endfor%}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}