{% extends 'utils/base.html' %}

{% block title %}Events{% endblock%}

{% block body%}
<div class="container py-5">
  {% include "utils/brand_title.html" with brand_title="Events"%}
  <div class="row">
    <div class="col-md-8 col-sm-12" style="border-right-style:solid;">
      <div class="text py-5">
        <h2 style="font-family:'Averia Serif Libre', cursive;color:#126ea2;font-size:33px;">News and Events</h2>
        <ul class="list-group">
          {% for event in object_list%}
          {% include "utils/event_box.html" %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <p style="font-size:16px;font-family:'Averia Serif Libre', cursive;color:#126ea2;">
        Related Links</p>
      <ul class="list-group">
        {% for link in link_categories%}
        <li class="list-group-item" style="height:40px;background-color:rgba(238,244,247,0.4);"><a
            href="{% url 'nefosta:link_category_detail' link.id%}"
            style="font-family:'Source Sans Pro', sans-serif;font-size:17px;color:rgb(0,0,0);margin-left:10px;">{{ link.title }}</a>
        </li>
        {% empty %}
        Nothing Here
        {% endfor%}
      </ul>
      {% include "utils/pagination.html" %}
    </div>
  </div>
  {% endblock %}